/* Hero */

.adopt-menu a {
    color: var(--primary-color);
}

.adopt-hero {
    margin-bottom: 0;
    background-image: url("../images/adopt-hero.jpg");
    opacity: 0.4;
}

.adopt-overlay {
    background-color: rgba(213,213,213,0.70);
}

/* Headings */

.adopt-title h1 {
    left: 33%;
    top: 51%;
    position: absolute;
    text-align: center;
    letter-spacing: 40px;
    font-size: 7rem;
    font-weight: 800;
    color: var(--secondary-darker-coloer);
}

/* Avaialable Animals */

.available-animals {
    width: 90%;
    margin: 0 auto;
    padding: 7rem;
}

.animal-buttons {
    display: flex;
    justify-content: space-evenly;
}

.animal-search {
    border: 1px solid #f9f9f9;
    padding: 1.5em 4em;
    border-radius: 4px;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 1px;
    background-color: var(--lighter-primary-color);
    color: var(--light-color);
    font-weight: 600;
}

.animal-search:hover{
    background-color: var(--primary-color);
    transition: 0.3s ease-in-out;
}

.animal-icon {
    padding-right: 15px;
}

.highlight-container {
    width: 90%;
    margin: 0 auto;
    display: flex;
}

.highlight-img {
    background-image: url("../images/highlight-img.jpg");
    width: 60%;
    height: 70vh;
}

.left-content {
    width: 48%;
    margin: 0 auto;
}

.right-content {
    width: 48%;
    margin: 0 auto;
}
