 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 

:root {
    --primary-color: #da5d92;
    --secondary-color: #75583e;
    --lighter-primary-color: #ffa0c8;
    --secondary-darker-coloer: #5a3819;
    --light-color: #FFFFFF;

}
.white-color{
    color: #FFF;
}

body {
    font-family: 'Lato', sans-serif;
}

.header-wrapper {
    width: 90%;
    margin: 0 auto;
}

main-wrapper {
    width: 90%;
    margin: 0 auto;
}


.header {
    width: 100%;
    z-index: 1000;
}

.nav-bar {
    width: 100%;
    display: flex;
    align-items: center;
    color: black;
}

.title {
    width: 190px;
    color: black;
    text-decoration: none;
}


.nav-right {
    justify-content: flex-end;
}

.logo-img {
    width: 50px;
	height: 50px;
    margin: 20px 15px 15px 20px;
}

.header-links {
    display: flex;
    list-style-type: none;
}

.nav-link {
    padding: 20px;
    text-decoration: none;
    font-weight: bold;
    font-size: 14px;
}

.menu li:hover {
    transition: 0.2s ease-in;
    transform: scale(1.2);
}

.button {
    min-width: 130px;
    padding: 8px 16px;
    border-radius: 4px;
    letter-spacing: .8px;
    outline: none;
    transition: 0.5s ease;
    cursor: pointer;
}

.button:hover {
    background-color: var(--primary-color);

}

.primary-button {
    background-color: var(--primary-color);
    border: none;
}

.secondary-button {
   border-width: thin;
   background: none;
   color: var(--primary-color);
   text-decoration: none;
   border-color: var(--primary-color);
}

.secondary-button:hover {
    background-color: var(--primary-color);
    color: var(--light-color);
}

.donate-button {
    margin-right: 30px;
}

.search-button {
    height: 50px;
    margin-left: -133px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}

.search-button:hover {
    background-color: var(--primary-color);
    transition: all 0.3s ease-in;
}

.search-img {
    width: 22px;
    margin-right: 20px;
    cursor: pointer;
}

form {
    margin-top: 10%;
    text-align: center;
    display: none;
}

.display-show {
    display: block;
}

.search-bar {
    width: 50%;
    padding: 14px;
    font-size: 18px;
    border-radius: 8px;
}

.darker {
    filter: brightness(32%);
    transition: all 0.5s ease-in;
}

.heading {
    color: var(--secondary-color);
}

.content-text {
    font-size: 24px;
}
/* Images */

.background-img {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.hero-img {
    background-image: url('../images/hero.jpeg');
    height: 100vh;
    margin-bottom: 200px;
}

.right-section {
    background-image: url("../images/mission-statement.jpg");
    height: 70vh;
    margin: 0 auto;
    padding: 0;
}

.images-left {
    height: 34vh;
}

.top-row-left {
    background-image: url("../images/picture-1.jpg"); 
}

.top-row-right {
    background-image: url("../images/picture-2.jpg");
}

.bottom-row-left {
    background-image: url("../images/picture-3.jpg");
}

.bottom-row-right {
    background-image: url("../images/picture-4.jpg");
}

.right-half {
    background-image: url("../images/picture-5.jpg");
}

.adopt-hero {
    background-image: url("../images/adopt-hero.jpg");
    opacity: 0.4;
}

/* Mobile Menu */

.mobile-menu-container {
    display: none;
}

.mobile-menu-burger {
    width: 17px;
    margin-right: 24px;
    height: inherit;
    cursor: pointer;
}

.menu-closed {
    top: 25px;
    bottom: 50px;
}

.menu-open {
    width: 17px;
    top: 25px;
    bottom: 50px;
}

.display-none {
    display: none;
}

.main-content {
    transition: all 0.6s ease-out;
}

.opacity {
    opacity: .3;
    transition: all 0.3s ease-in;
}
/* Hero Section */


.img-wrapper {
    margin-bottom: 200px; 
    position: relative;
}

.img-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.2);
}

.hero {
    width: 100%;
    background: rgba(0,0,0,0.3);
}

.title h1 {
    max-width: 54%;
    position: absolute;
    top: 39%;
    left: 28%;
    font-size: 7rem;
    font-weight: 800;
    text-align: center;
}

/* Card Section */ 

.mobile-card-section {
    display: none;
}

.column {
    width: 24%;
}

.card-container {
    margin-bottom: 200px;
    display: flex;
    justify-content: space-evenly;
}

.card {
    box-shadow: 0px 13px 18px 3px rgba(36,37,38,0.06);
    border-radius: 8px;
    padding: 20px;
    text-align: center;
    background-color:white;
}

.card a {
    text-decoration: none;
    color: var(--primary-color);
}

.card a:hover {
    color: var(--light-color);
}

.card i {
    color: var(--primary-color);
}

h2 {
    padding: 20px;
}

.card-content {
    min-height: 265px;
    padding-top: 25px;
    line-height: 1.5;
}

/*Mission Statment*/

.mission-statment-container {
    width: 100%;
    padding: 0 50px 0;
    margin-bottom: 200px;
}

.mission-statement {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.statement-section { 
    width: 47%;
    margin-right: 5px;
}

.left-content {
    width: 100%;
    text-align: center;
}

.statement-title {
    width: 100%;
    padding-bottom: 20px;
}
.statement-content {
    line-height: 1.6;
}

.mission-statement-img {
    width: 100%;
    height: 461px;
}

.background-image {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

/*Testimonial*/

.testimonial-container {
    width: 100%;
    margin: 0 auto 200px;
}

.testimonial-content {
    width: 50%;
    margin: 0 auto;
}

.testimonial-center {
    margin-top: -65px;
    text-align: center;
}

.testimonial-text {
    width: 75%;
    margin: 0 auto;
    color: var(--primary-color);
    text-align: center;
    line-height: 1.5;
}

.name-line {
    height: 2px;
    width: 60px;
    margin: 10px auto;
    background-color: var(--secondary-color);
}

.testimonial-source {
    font-size: 14px;
    color: var(--secondary-color); 
}

/*Photo Section*/

.images-container {
    width: 100%;
    padding: 0 50px 0;
    margin-bottom: 200px;
}
.images-content {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
}

.images {
    width: 48%;
}

.left-section {
    width: 48%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.top-row {
    margin-bottom: 10px;
}

.left-image {
    width: 100%;
    height: 190px;
}


/*Footer Section*/

.footer-container {
    width: 100%;
    padding: 45px;
    background: var(--primary-color);
}

.footer-content {
    width: 70%;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
}

.footer-left {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.footer-content a {
    text-decoration: none;
    line-height: 1.5;
}

h4 {
    text-decoration: underline;
    margin-bottom: 5px;
    color: black;
}

.footer-links {
    list-style-type: none;
}

.footer-img {
    width: 40%;
    text-align: end;
}

.footer-logo {
    width: 4vw;
}

.socials {
    width: 87%;
    display: flex;
    justify-content: flex-end;
    align-items: baseline;
}
.social-link {
    margin: 9px;
}

/*Adopt Page*/

/*Hero Section*/

.adopt-hero {
    margin-bottom: 0;
}

.adopt-overlay {
    background-color: rgba(213,213,213,0.70);
}

.adopt-title h1 {
    left: 33%;
    top: 51%;
    letter-spacing: 40px;
    font-size: 7rem;
    font-weight: 800;
    color: var(--secondary-darker-coloer);
}

.adopt-menu a {
    color: var(--primary-color);
}

/* Avaialable Animals */

.available-animals {
    width: 90%;
    margin: 0 auto;
    padding: 7rem;
}

.animal-buttons {
    display: flex;
    justify-content: space-evenly;
}

.animal-search {
    border: 1px solid #f9f9f9;
    padding: 1.5em 4em;
    border-radius: 4px;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 1px;
    background-color: var(--lighter-primary-color);
    color: var(--light-color);
    font-weight: 600;
}

.animal-search:hover{
    background-color: var(--primary-color);
    transition: 0.3s ease-in-out;
}

.animal-icon {
    padding-right: 15px;
}

.highlight-container {
    width: 90%;
    margin: 0 auto;
}

.highlight-img {
    background-image: url("../images/highlight-img.jpg");
    width: 30%;
    height: 72vh;
}