 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 

body {
    font-family: 'Lato', sans-serif;
}

.header-wrapper {
    width: 90%;
    margin: 0 auto;
}

main-wrapper {
    width: 90%;
    margin: 0 auto;
}

.header {
    width: 90%;
    position: absolute;
    z-index: 1000;
}

.nav-bar {
    width: 100%;
    display: flex;
    align-items: center;
    color: black;
}

.title {
    width: 190px;
    color: black;
    text-decoration: none;
}


.nav-right {
    justify-content: flex-end;
}

.logo-img {
    width: 50px;
	height: 50px;
    margin: 20px 15px 15px 20px;
}

.header-links {
    display: flex;
    list-style-type: none;
}

.nav-link {
    padding: 20px;
    text-decoration: none;
    font-weight: bold;
    font-size: 14px;
    color: black;
    transition: 0.5s ease;
}

.nav-link:hover {
    color: #3C838E;
}

.button {
    min-width: 84px;
    height: 32px;
    margin-right: 30px;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    letter-spacing: 1px;
    color: white;
    outline: none;
    background-color: #71B6C8;
    transition: 0.5s ease;
    cursor: pointer;
}

.button:hover {
    background-color: #3C838E;

}

.search-img {
    width: 22px;
    margin-right: 20px;
    cursor: pointer;
}

form {
    margin-top: 10%;
    text-align: center;
    position: relative;
    left: 50px;
    display: none;
}

.display-show {
    display: block;
}

.search-bar {
    width: 50%;
    padding: 14px;
    font-size: 18px;
    border-radius: 8px;
}

.search-button {
    -webkit-appearance: none;
    width: 100px;
    height: 53px;
    position: relative;
    right: 103px;
    font-size: 18px;
    letter-spacing: 1px;
    color: white;
    outline: none;
    background-color: #D2768E;
    border: none;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    cursor: pointer;

}

.search-button:hover {
    background-color:#BB697F;
    transition: all 0.3s ease-in;
}

.darker {
    filter: brightness(32%);
    transition: all 0.5s ease-in;
}

/* Mobile Menu */

.mobile-menu-container {
    display: none;
}

.mobile-menu-burger {
    width: 17px;
    margin-right: 15px;
    height: inherit;
    cursor: pointer;
}

.menu-closed {
    top: 25px;
    bottom: 50px;
}

.menu-open {
    width: 17px;
    top: 25px;
    bottom: 50px;
}

.display-none {
    display: none;
}

.main-content {
    transition: all 0.6s ease-out;
}

.opacity {
    opacity: .4;
    transition: all 0.3s ease-in;
}
/* Hero Section */

.hero-img {
    width: 100%;
    height: 750px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

}

/* Card Section */ 

.column {
    width: 25%;
    padding: 0 10px;
}

.row {
    margin: 95px;
    display: flex;
    justify-content: space-evenly;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.card {
    height: 360px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
    padding: 16px;
    text-align: center;
    background-color: #f1f1f1;