@media only screen and (max-width: 1024px) {
    .title {
        width: 83px;
    }
}

@media only screen and (max-width: 968px) {
    .card-container {
        flex-direction: column;
        align-items: center;
    }

    .column {
        width: 78%;
    }

    .card {
        margin-bottom: 40px;
    }

    .card-content {
        min-height: auto;
        margin-bottom: 40px;
    }

    #bottom-card {
        margin-bottom: 0px;
    }
}

@media only screen and (max-width: 768px) {
   
    .nav-link:hover {
        color: var(--primary-color);
    }

    .menu {
        display: none;
    }

    form {
        display: none; 

    }

    .search-img {
        display: none;
    }

    .mobile-menu-container {
        display: block;
    }

    .mobile-menu {
        width: 100%;
        height: 320px;
        position: absolute;
        top: 80px;
        left: 0;
        z-index: 1;
        background-color:#CAC9C9;
        border-radius: 8px;
    }

    .header-links {
        width: 100%;
        display: flex;
        flex-direction: column;
        list-style-type: none;
        text-align: center;
    }

    .mobile-menu li {
        display: flex;
        justify-content: center;
        padding: 3px;
        position: relative;
        border-bottom: #dddddd 1px solid;
    }

    .hero-img {
        height: 440px;
    }

    .column {
        width: 66%;
    }

    .statement-title {
        top: 191px;
        left: 256px;
    }

    .statement-content {
        top: 261px;
        left: 193px;
    }
}

@media only screen and (max-width: 640px) {
    .mission-statement {
        flex-direction: column;
    }

    .mission-statement-right {
        width: 90%;
        margin-bottom: 40px;
    }

    .statement-title {
        padding: 20px;
    }

    .mission-statement-left {
        width: 85%;
    }

    .card {
        box-shadow: none;
    }


.footer-content {
    display: inherit;
}

.footer-left {
    flex-direction: column;
}

.footer-section {
    text-align: center;
    padding: 0 0 30px;
}

.footer-img {
    width: 100%;
    text-align: center;
}

.socials {
    width: 100%;
    justify-content: center;
}

.social-link {
    margin: 15px 4px 15px 8px;
}

}

@media only screen and (max-width: 448px) {

    .logo-img {
        display: none;
    }

    .mobile-menu-burger {
        position: absolute;
        top: 20px;
        right: 0px;
    }

    .title {
        margin: 18px 0 18px 13px;
        font-size: 19px;
    }

    .button {
        display: none;
    }

    .column {
        width: 86%;
    }

    .card {
        box-shadow: initial;
    }

    .statement-title {
        top: 139px;
        left: 113px;
        font-size: 4.5vw;
    }

    .statement-content {
        top: 211px;
        left: 129px;
        font-size: 3.5vw;
    }

    .content-text { 
        font-size: 18px;
    }
}
