@media only screen and (max-width: 1024px) {
    .title {
        width: 83px;
    }
}
@media only screen and (max-width: 768px) {
    
    .menu {
        display: none;
    }

    form {
        display: none; 

    }

    .search-img {
        display: none;
    }

    .mobile-menu-container {
        display: block;
    }

    .mobile-menu {
        width: 100%;
        position: absolute;
        top: 80px;
        left: 0;
        z-index: 1;
        background-color:#EEEEEE;
    }

    .header-links {
        width: 100%;
        display: flex;
        flex-direction: column;
        list-style-type: none;
        text-align: center;
    }

    .mobile-menu li {
        padding: 15px 0 15px 0;
        display: block;
        position: relative;
        border-bottom: #dddddd 1px solid;
    }

    .hero-img {
        height: 440px;
    }


}

@media only screen and (max-width: 448px) {

    .logo-img {
        display: none;
    }

    .title {
        margin: 18px 0 18px 13px;
        font-size: 19px;
    }

    .button {
        display: none;
    }
}
